@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Palemonas';
        font-weight: normal;
        font-style: normal;
        src: url('../assets/fonts/Palem3.2.05-nm.ttf')
      }
      @font-face {
        font-family: palem-italic;
        font-weight: 500;
        src: url('../assets/fonts/Palem3.2.05-it.ttf') format("truetype");
      }
      @font-face {
        font-family: 'Comic Sans MS';
        font-weight: normal;
        font-style: normal;
        src: url('../assets/fonts/ComicSansMS.woff');
      }
}
@layer components {
    .text-palem {
        font-family:'Palemonas';
    }
}